@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Bold'), local('SFProText-Bold'),
        url('SFProText-Bold.woff2') format('woff2'),
        url('SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Light'), local('SFProText-Light'),
        url('SFProText-Light.woff2') format('woff2'),
        url('SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Heavy'), local('SFProText-Heavy'),
        url('SFProText-Heavy.woff2') format('woff2'),
        url('SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Medium'), local('SFProText-Medium'),
        url('SFProText-Medium.woff2') format('woff2'),
        url('SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Semibold'), local('SFProText-Semibold'),
        url('SFProText-Semibold.woff2') format('woff2'),
        url('SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text Regular'), local('SFProText-Regular'),
        url('SFProText-Regular.woff2') format('woff2'),
        url('SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

